/**
* Icono de Play - Pause
**/
@font-face {
    font-family: 'icomoon';
    src:  url('./fonts-play/icomoon.eot?a9gsj');
    src:  url('./fonts-play/icomoon.eot?a9gsj#iefix') format('embedded-opentype'),
      url('./fonts-play/icomoon.ttf?a9gsj') format('truetype'),
      url('./fonts-play/icomoon.woff?a9gsj') format('woff'),
      url('./fonts-play/icomoon.svg?a9gsj#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-play-outline:before {
    content: "\e900";
  }
  .icon-pause-outline:before {
    content: "\e901";
  }

* {
    margin: 0px;
    padding: 0px;
}

.container {
    flex: 2 1 auto;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    
}

.article {    
    flex: 1 1 40%;
    /*boton playPause*/
    position: relative;   
     
}

.controls {
    display: flex;
    position: absolute;
    bottom: 40%;
    width: 100%;
    height: 100px;
    flex-wrap: wrap;
    justify-content: center;
}

.buttons button {
    background: none;
    border: 0;
    outline: 0;
    cursor: pointer;
}

.buttons button:before {
    content: "\e900";
    font-family: 'icomoon';
    font-size: 70px;
}

.buttons button.play:before {
    content: "\e900";
}

.buttons button.pause:before {
    content: "\e901";

}

.articulo {
    padding: 0 3rem 0 3rem;
}

h1 {
    font-family: 'Alfa Slab One', cursive;
    font-size: 28px;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 400px;
    text-align: left;
    line-height: 1.6;
}

.comentario {
    margin-bottom: 20px;
}

.article .comentario{
    font-size: 0.8rem;
}

.h6 {
    font-family: 'Montserrat', sans-serif;
    font-size: 0.9rem;
    text-align: left;
    line-height: 1;
}

.article .video {
    /*max-width: 100%;*/
    width: 100%;
    height: 100%;
    max-height: 100%;
    display: flex;
}

@media screen and (max-width: 750px) {
    .container {
        flex-flow: column nowrap;
        height: auto;
    }

    .controls {
        top: 35%;
        bottom: center;
        width: 100%;
        height: 100%;
    }

    .buttons button:before {
        content: "\e900";
        font-family: 'icomoon';
        font-size: 50px;
    }

    .articulo {
        padding: 0;
        padding-right: 0.5rem;
    }

    h1 {
        font-size: 25px;
        line-height: 1.4;
    }

    .comentario {
        margin-bottom: 1rem;
    }
    
    .article .comentario{
        font-size: 0.7rem;
    }
    
    .h6 {
        font-size: 0.8rem;
    }

    .article {
        padding-bottom: 1rem;
    }

}

@media screen and (min-width: 751px) and (max-width: 1010px) {
    .container {
        flex-flow: column nowrap;

    }

    .controls {
        top: 35%;
        bottom: center;
    }

    .buttons button:before {
        content: "\e900";
        font-family: 'icomoon';
        font-size: 70px;
    }

    h1 {
        font-size: 28px;
        line-height: 1.6;
        
    }

    .articulo {
        padding: 0;
        padding-right: 0.5rem;
    }

    .comentario {
        padding-right: 4rem;
        margin-bottom: 20px;
    }
    
    .article .comentario{
        font-size: 0.9rem;
    }

    .h6 {
        font-size: 1rem;
    }

    .article {
        padding-bottom: 1rem;
    }

}

@media screen and (min-width: 1011px) and (max-width: 1236px) {
    .container {
        flex-flow: row wrap;

    }

    .controls {
        top: 35%;
        bottom: center;
    }

    .buttons button:before {
        content: "\e900";
        font-family: 'icomoon';
        font-size: 70px;
    }

    h1 {
        font-size: 25px;
        line-height: 1.6;
    }

    .articulo {
        padding: 0 3rem 0 3rem;
    }

    .comentario {
        margin-bottom: 1rem;
    }
    
    .article .comentario{
        font-size: 0.7rem;
    }
    
    .h6 {
        font-size: 0.9rem;
    }
}

