* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

section .container{
    margin: 20px 20px;
}

article .container {
    width: 100%;
    max-width: 1000px;
    margin: auto;
}

.table {
    width: 100%;
    border: 1px solid silver;
    border-collapse: collapse;
    table-layout: fixed;
}

.table tr {
    background-color: white;
    border: 1px solid silver;
}

.table tr:nth-child(2n) {
    background-color: rgba(192, 192, 192, 0.2);
}

.table th {
    color: white;
    background-color: rgba(192, 192, 192, 0.9);
}

.table th, .table td {
    font-size: 10px;
    padding: 8px;
    text-align: left;
    border: 1px solid silver;
}

.table tbody tr:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.table tbody td:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

#ref {
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    font-size: 0.5rem;
}

/* Small devices - mobile */
@media screen and (max-width: 750px) {
    .table {
        border: 0px;
    }

    .table thead {
        display: none;
    }

    .table tr {
        margin-bottom: 8px;
        border-bottom: 4px solid silver;
        display: block;
    }

    .table th, .table td {
        font-size: 16px;
    }

    .table td {
        display: block;
        border-bottom: 1px solid silver;
        text-align: right;
        height: auto;
    }

    .table td:last-child {
        border-bottom: 0px;
    }

    .table td::before {
        content: attr(data-label);
        font-weight: bold;
        text-transform: uppercase;
        float: left;
    }
}

@media screen and (min-width: 960px) {
    .table th, .table td {
        font-size: 13px;
    }
}
